* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-light-700: #ffffff;
  --color-light-500: #f9f9f9;
  --color-light-300: #cccccc;
  --color-text: #333;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.6rem;
  background-color: var(--color-light-700);
  color: var(--color-text);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.8em;
  margin-bottom: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}


/* ---------------------------Home--------------------------- */



header {
  background-color: #FFFFFF;
  font-size: 2.8rem;
  padding: 2rem;
  height: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 15rem);
  justify-content: center;
  gap: 3rem;
  justify-items: center;
}

header p:hover {
  text-decoration-line: underline;
}


.card {
  padding: 2em;
}

