.sobre-content-container {
	display: flex;
	flex-direction: column;
	padding: 3rem 5.5rem;
	gap: 3rem;
}

.sobre-intro-container {
	display: flex;
	justify-content: space-around;

	max-width: 100vw;
}

.sobre-planos-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	.card-container {
		display: flex;
		gap: 1em;
	}
}

.sobre-title-container {
	display: flex;
	flex-direction: column;

	gap: 1em;

	width: 500px;

	p {
		font-size: 2rem;
	}

	button {
		margin: 0;
		width: 258px;
		height: 66px;
		gap: 10px;
		border-radius: 40px;
		font-size: 2rem;

		background: var(--color-text);
	}
}

.sobre-image-container {
	display: flex;
	justify-content: center;
	gap: 60px;

	img {
		width: 216px;
		height: 469px;
		top: 146px;
		left: 808px;
		gap: 0px;
		border-radius: 30px;
		opacity: 0px;
	}
}
